<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>HOME</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    
    <link href="/img/favicon.png" rel="icon" />
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap-icons/bootstrap-icons.css"rel="stylesheet"/>
    <link href="/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/quill/quill.snow.css" rel="stylesheet" />
    <link href="/quill/quill.bubble.css" rel="stylesheet" />
    <link href="/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/simple-datatables/style.css" rel="stylesheet" />
    <link href="/css/home.css" rel="stylesheet" />
    </head
  ><!-- Favicons -->
  <!-- Google Fonts -->
  <!-- Vendor CSS Files -->
  <!-- Template Main CSS File -->
  <body>
    <!-- ======= Header ======= -->
    <header class="header fixed-top d-flex align-items-center" id="header">
      <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="index.html"
          ><img alt="" src="/img/logo.png" />
          <span class="d-none d-lg-block">Lookers</span></a
        >
        <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
      </div>
      <!-- End Logo -->
      <div class="search-bar">
        <form
          action="/home/search"
          class="search-form d-flex align-items-center"
          method="POST"
        >
          <input
            name="query"
            placeholder="search"
            title="Enter search keyword"
            type="text"
          />
          <button title="Search" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <!-- End Search Icon-->
      <!-- End Search Bar -->
      <div class="job-application-status">
        <a class="nav-link active" href="/home/MyApply">Status Lamaran</a>
      </div>
      <div class="job-application-status">
        <a class="nav-link active" href="/home/search">All Jobs</a>
      </div>
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="/profil"
              ><i class="bi bi-search"></i
            ></a>
          </li>
          <li class="nav-item dropdown pe-3">
            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              data-bs-toggle="dropdown"
              href="#"
              ><img
                alt="Profile"
                class="rounded-circle"
                src="/img/user-image-with-black-background.png"
              />
              <span class="d-none d-md-block ps-2"><%= jobs.fullName %></span></a
            >
          </li>
          <!-- End Profile Iamge Icon -->
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->
    <div class="video-container">
      <video class="background-video" autoplay loop muted>
        <source src="../video/home.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="content-top">
      <h1>Welcome <%= jobs.sessionUser %></h1>
      <p >
        Kami Mengajak Anda untuk Memanfaatkan Peluang Luar Biasa yang Tersedia
        di Perusahaan Kami, di Mana Anda Akan Diberikan Kesempatan untuk
        Berkembang dan Menyalurkan Potensi Terbaik Anda dalam Lingkungan Kerja
        yang Mendukung dan Inspiratif.
      </p>
    </div>
    <section
    class="bg-light pt-lg-5 text-center">
    <h2 class="lowongan"><strong>LOWONGAN ANDA</strong></h2>
      <div class="container" style="padding-bottom: 10px">
        <div class="d-sm-flex">
          <% jobs.forEach(function(job){ %>
            <div class="card" style="width: 18rem">
              <% if (job.category_id==1){%>
                <img class="card-img-top" src="/img/teacher.jpg" alt="" />
                <%} else if(job.category_id==2){%>
                <img class="card-img-top" src="/img/engineer.png" alt="" />
                <%} else if(job.category_id==3){ %>
                <img class="card-img-top" src="/img/chef.jpg" alt="" />
                <%} else if(job.category_id==4){ %>
                <img class="card-img-top" src="/img/it.jpg" alt="" />
                <%} else if(job.category_id==5){ %>
                <img class="card-img-top" src="/img/accountant.jpg" alt="" />
                <%} %>
              <div class="card-body">
                <h2 class="job_title">
                  <%= job.tittle %>
                </h2>
                <p class="card-text">
                  <p >
                    <strong class="salary">Rp <%= job.salary_min %> - <%= job.salary_max %></strong> 
                    <br><%= job.location %>
                  </p>
                </p>
              </div>
            </div>
          <% }) %>
      </div>
      </div>
    </section>
    <section class="jobs2" style="background-color: aliceblue">
      <div class="container">
        <div class="content">
          <h2 class="h2">Lamar Jobs</h2>
          <p class="text_foto">
            Dapatkan pekerjaan dan tawaran sesuai passion dan minat anda,
            tingkatkan skill anda
          </p>
          <button class="btn" style="margin-right: 20%">
            <a href="">Apply Jobs</a>
          </button>
        </div>
        <img alt="Snow" src="img/fotor_2023-5-25_2_6_41.png" />
      </div>
    </section>
    <!-- ======= Footer ======= -->
    <footer class="footer" id="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>D3 B IT</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">Designed by <a href="">LOOKERS</a></div>
    </footer>
    <!-- End Footer -->
    <!-- Vendor JS Files -->
    <script src="/apexcharts/apexcharts.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/chart.js/chart.umd.js"></script>
    <script src="/echarts/echarts.min.js"></script>
    <script src="/quill/quill.min.js"></script>
    <script src="/simple-datatables/simple-datatables.js"></script>
    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->

    <script src="/js/HOME.js"></script>
  </body>
</html>
