<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon" />
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"
  />

  <!-- Vendor CSS Files -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="/quill/quill.snow.css" rel="stylesheet" />
  <link href="/quill/quill.bubble.css" rel="stylesheet" />
  <link href="/remixicon/remixicon.css" rel="stylesheet" />
  <link href="/simple-datatables/style.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="/css/profile.css" rel="stylesheet" />
  <body>
    <!-- ======= Header ======= -->
    <header class="header fixed-top d-flex align-items-center" id="header">
      <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="/home"
          ><img alt="" src="/img/logo.png" />
          <span class="d-none d-lg-block">Lookers</span></a
        >
        <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
      </div>
      <!-- End Logo -->
      <div class="search-bar">
         <form
          action="/home/search"
          class="search-form d-flex align-items-center"
          method="POST"
        >
          <input
            name="search"
            placeholder="search"
            title="Enter search keyword"
            type="text"
          />
          <button title="search" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <!-- End Search Icon-->
      <!-- End Search Bar -->
      <div class="job-application-status">
        <a class="nav-link active" href="/home/inbox">Inbox</a>
      </div>
      <div class="job-application-status">
        <a class="nav-link active" href="/home/myJobs">My Jobs</a>
      </div>
      <div class="job-application-status">
        <a class="nav-link active" href="/home/addJobs">Add Jobs</a>
      </div>
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href=""
              ><i class="bi bi-search"></i
            ></a>
          </li>
          <li class="nav-item dropdown pe-3">
            <a 
              class="nav-link nav-profile d-flex align-items-center pe-0"
              data-bs-toggle="dropdown"
              href="/home/profile"
              ><img
                alt="Profile"
                class="rounded-circle"
                src="/img/user-image-with-black-background.png"
              />
              <span class="d-none d-md-block ps-2"><%= user.company_name %></span></a
            >
          </li>
          <!-- End Profile Iamge Icon -->
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->


    <!-- Profile Edit Form -->
    <form method="POST">

        <div  class="row mb-3">
          <label
            for="profileImage"
            class="col-md-4 col-lg-3 col-form-label"
            >Profile Image</label
          >
          <div style="margin: 70px 0px 20px 600px
          ;" class="col-md-8 col-lg-9">
            </div>
          </div>
        </div>

        <div style="margin-left: 50px;" class="row mb-3">
          <label
            for="fullName"
            class="col-md-1 col-lg-1 col-form-label"
            >Full Name</label
          >
          <div class="col-md-8 col-lg-9">
            <input
              name="fullName"
              type="text"
              class="form-control"
              id="fullName"
              value="<%= user.company_name%>"
            />
          </div>
        </div>

        <div style="margin-left: 50px;" class="row mb-3">
          <label
            for="about"
            class="col-md-1 col-lg-1 col-form-label"
            >Description</label
          >
          <div class="col-md-8 col-lg-9">
            <textarea
              name="desc"
              class="form-control"
              id="about"
              style="height: 100px"
            ><%= user.company_desc %></textarea>
          </div>
        </div>

        <div style="margin-left: 50px;" class="row mb-3">
          <label
            for="Address"
            class="col-md-1 col-lg-1 col-form-label"
            >Address</label
          >
          <div class="col-md-8 col-lg-9">
            <input
              name="address"
              type="text"
              class="form-control"
              id="Address"
              value="<%= user.address %>"
            />
          </div>
        </div>

        <div style="margin-left: 50px;" class="row mb-3">
          <label
            for="Phone"
            class="col-md-1 col-lg-1 col-form-label"
            >Contact</label
          >
          <div class="col-md-8 col-lg-9">
            <input
              name="contact"
              type="text"
              class="form-control"
              id="Phone"
              value="<%= user.contact_number %>"
            />
          </div>
        </div>

        <div style="margin-left: 50px;" class="row mb-3">
          <label
            for="Email"
            class="col-md-1 col-lg-1 col-form-label"
            >Email</label
          >
          <div class="col-md-8 col-lg-9">
            <input
              name="email"
              type="email"
              class="form-control"
              id="Email"
              value="<%= user.email %>"
            />
          </div>
        </div>

        <div style="margin: 0px 0px 0px 20px;" class="mb-3 text-center justify-content-center">
          <button type="submit" class="btn btn-primary">
            Save Changes
          </button>
        </div>
      </form>
      <!-- End Profile Edit Form -->
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
          &copy; Copyright <strong><span>Lookers</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
          Designed by <a href="https://bootstrapmade.com/">D3 IT B</a>
        </div>
      </footer>
      <!-- End Footer -->
  </body>
  <!-- Vendor JS Files -->
  <script src="/apexcharts/apexcharts.min.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/chart.js/chart.umd.js"></script>
  <script src="/echarts/echarts.min.js"></script>
  <script src="/quill/quill.min.js"></script>
  <script src="/simple-datatables/simple-datatables.js"></script>
  <script src="/tinymce/tinymce.min.js"></script>
  <script src="/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
</html>
