<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>HOME</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/img/favicon.png" rel="icon" />
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/quill/quill.snow.css" rel="stylesheet" />
    <link href="/quill/quill.bubble.css" rel="stylesheet" />
    <link href="/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/simple-datatables/style.css" rel="stylesheet" />
    <link href="/css/searchfix.css" rel="stylesheet" />
</head><!-- Favicons -->
<!-- Google Fonts -->
<!-- Vendor CSS Files -->
<!-- Template Main CSS File -->

<body>
    <!-- ======= Header ======= -->
    <header class="header fixed-top d-flex align-items-center" id="header">
        <div class="d-flex align-items-center justify-content-between">
            <a class="logo d-flex align-items-center" href="index.html"><img alt="" src="/img/logo.png" />
                <span class="d-none d-lg-block">NiceAdmin</span></a>
            <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
        </div>
        <!-- End Logo -->
        <div class="search-bar">
            <form action="#" class="search-form d-flex align-items-center" method="post">
                <input name="query" placeholder="Search" title="Enter search keyword" type="text" />
                <button title="Search" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        <!-- End Search Icon-->
        <!-- End Search Bar -->
        <div class="job-application-status">
            <a class="nav-link active" href="/home/inbox">Inbox</a>
        </div>
        <div class="job-application-status">
            <a class="nav-link active" href="/home/myJobs">My Jobs</a>
        </div>
        <div class="job-application-status">
            <a class="nav-link active" href="/home/addJobs">Add Jobs</a>
        </div>
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle" href="/profil"><i class="bi bi-search"></i></a>
                </li>
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown"
                        href="#"><img alt="Profile" class="rounded-circle"
                            src="/img/user-image-with-black-background.png" />
                        <span class="d-none d-md-block ps-2">My Profile</span></a>
                </li>
                <!-- End Profile Iamge Icon -->
                <!-- End Profile Nav -->
            </ul>
        </nav>
        <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->
    
        <div class="container" style="margin-top: 70px;">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="careersContainer">
                        <% jobs.forEach(function(job){ %>
                            <div class="careerItem" style="padding-right: 250px;padding-left: 100px;">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-4">
                                        <div class="careerMeta">
                                            <% if (job.category_id===1){ %>
                                            <span class="careerType">Teacher</span>
                                            <% }else if (job.category_id===2){ %>
                                            <span class="careerType">Engineer</span>
                                            <% }else if (job.category_id===3){ %>
                                            <span class="careerType">Chef</span>
                                            <% }else if (job.category_id===4){ %>
                                            <span class="careerType">IT</span>
                                            <% }else if (job.category_id===5) %>
                                            <span class="careerType">Accountant</span>
                                            <span class="career__location"><%= job.company_name %></span>
                                        </div>
                                        <h4 class="career__title" style="color: black;"><%= job.tittle %></h4>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-5">
                                        <p class="career__desc">Salary:<br><%= job.salary_min %> - <%= job.salary_max %><br>Year of Experience:<br><%= job.exp %></p>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-3 text-right btn-wrap">
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#modalDialogScrollable">
                                        Description
                                    </button>
                                    <div class="modal fade" id="modalDialogScrollable" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Description</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <%= job.desc %>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Footer ======= -->
    <footer class="footer" id="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>D3 B IT</span></strong>. All Rights Reserved
        </div>
        <div class="credits">Designed by <a href="">LOOKERS</a></div>
    </footer>
    <!-- End Footer -->
    <!-- Vendor JS Files -->
    <script src="/apexcharts/apexcharts.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/chart.js/chart.umd.js"></script>
    <script src="/echarts/echarts.min.js"></script>
    <script src="/quill/quill.min.js"></script>
    <script src="/simple-datatables/simple-datatables.js"></script>
    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->

    <script src="/js/HOME.js"></script>
</body>

</html>
